<h2>Welcome, <%=@user.username.capitalize%></h2>

 <%if @user.movies.empty?%>
 <a href="/user/:slug/movies/new">Create Your First Movie Review!</a>
 <%@user.movies.each do |movie|%>
 <table style="width:100%">
   <tr>
     <th><%=movie.name%></th>
     <th><%=movie.rating%></th>
   </tr>
 </table>
 <%end%>
 <%end%>
