<p>Cinephile is for movie lovers all around the world.</p>

<p>After watching a story, write down your thoughts on what you think of the movie.</p>

<p>Soon enough, you will see a huge collection of the movies you watched categorized by Genres and Ratings.</p>

In progress:
-Movies categorized by Genres page
-Movies categorized by Ratings page
