<% if flash.has?(:message) %>
<p style="color:red;"><%= flash[:message] %></p>
<% end %>
<br>

  <% if logged_in? %>
    <h2>Welcome, <%= current_user.username.capitalize %>!</h2>
    <a href="/user/<%=current_user.slug%>/movies/new">Write a movie review!</a>
  <% else %>
    <form method="post" action="/login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br><br>
    <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br><br>
      <input type="submit" value="Log In">
    </form>
    <br>
    <br>

    <% end %>
